server:
  port: 9090

spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:h2:tcp://localhost/~/h2/db/live-god-life;DATABASE_TO_LOWER=TRUE;MODE=MySQL
    #    url: jdbc:h2:mem:live-god-life;MODE=MySQL;DATABASE_TO_LOWER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true
    #        use_sql_comments: true
    generate-ddl: true

logging:
  level:
    org:
      hibernate:
        SQL: debug
        type.descriptor.sql: trace

#eureka:
#  client:
#    register-with-eureka: true
#    fetch-registry: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka
#  instance:
#    instance-id: ${spring.application.name}:${eureka.instance.instance-id:${random.value}
#    prefer-ip-address: true
#
#url:
#  apiGateway: http://localhost:8000
